#top {
    width: 100%;
    height: 42px;
    background-color: #f9f9f9;
    border: solid 1px #eeeeee;
}

#top .top_content {
    width: 1200px;
    height: 42px;
    margin: 0px auto;
}

#top .top_content .deliver {
    width: 160px;
    height: 42px;
    float: left;
    line-height: 42px;
}

#top .top_content .login {
    width: 200px;
    height: 42px;
    float: left;
    line-height: 42px;
}

#top .top_content .usercenter {
    width: 200px;
    height: 42px;
    float: right;
    line-height: 42px;
    text-align: center;
}

#search {
    width: 100%;
    height: 96px;
}

#search .search_content {
    width: 1200px;
    height: 96px;
    margin: 0px auto;
}

#search .search_content .logo {
    width: 210px;
    height: 96px;
    float: left;
}

#search .search_content .logo a img {
    /* margin-top: 27px; */
    vertical-align: middle;
}

#search .search_content .searchform {
    width: 750px;
    height: 96px;
    float: left;
    line-height: 96px;
}

#search .search_content .shoppingcar {
    width: 144px;
    height: 96px;
    float: right;
}

#search .search_content .shoppingcar a {
    width: 142px;
    height: 34px;
    display: block;
    border: 1px solid red;
    text-align: center;
    line-height: 34px;
    margin-top: 31px;
}

#searchtext {
    width: 592px;
    height: 38px;
    border: 0px;
    padding: 0px 10px;
    outline: none;
    background: url(../images/searchtext_bg.png) no-repeat 0 center;
}

#searchbtn {
    width: 122px;
    height: 38px;
    border: 0;
    padding: 0;
    background-color: red;
    color: white;
    outline: none;
}

/* 导航栏部分样式设置 */
#nav {
    width: 100%;
    height: 42px;
    background-color: black;
}

#nav .nav_content {
    width: 1200px;
    height: 42px;
    margin: 0px auto;
    position: relative;
}

#nav .nav_content .allclass {
    width: 210px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 15px;
    float: left;
}

#nav .nav_content .nav_items {
    width: 960px;
    height: 42px;
    line-height: 42px;
    float: left;
    padding-left: 30px;
}

#nav .nav_content .nav_items li {
    float: left;
    padding-right: 39px;
}

#nav .nav_content .nav_items li a {
    color: white;
    font-weight: bold;
}

#nav .nav_content .allclass_content {
    width: 210px;
    height: 500px;
    position: absolute;
    top: 42px;
    left: 0px;
    background: white;
    filter: alpha(Opacity=96);
    -moz-opacity: 0.96;
    opacity: 0.96;
}

#nav .nav_content .allclass_content ul {
    width: 180px;
    margin-left: 10px;
}

#nav .nav_content .allclass_content li {
    width: 180px;
    height: 40px;
    padding-top: 30px;
}

#nav .nav_content .allclass_content li a {
    display: block;
    margin-top: 10px;
}

#nav .nav_content .allclass_content li a em {
    float: right;
}

#nav .nav_content .notice {
    width: 230px;
    height: 500px;
    background-color: white;
    /* float: right;     */
    position: absolute;
    right: 0px;
    margin-top: 42px;
    padding: 0px 10px;
}

#nav .nav_content .notice h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #cccccc dashed;
    font-size: 16px;
}

#nav .nav_content .notice ul {
    margin-top: 10px;
}

#nav .nav_content .notice ul li {
    margin-bottom: 15px;
}

#nav .nav_content .notice ul li a {
    font-size: 14px;
}

#carousel {
    width: 100%;
    height: 500px;
    background: url('../images/carouselimg.png') no-repeat center center;
}

/* 商品展示部分样式 */
#productshow {
    width: 100%;
    padding-top: 40px;
}

#productshow .djh_bar {
    width: 1200px;
    height: 45px;
    background-color: #eff0f8;
    border-top: 2px solid #ca4283;
    margin: 0px auto;
    margin-bottom: 22px;
}

#productshow .djh_bar .title {
    width: 190px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    background: url(../images/djh_bg.png) repeat-y center center;
    float: left;
}

#productshow .djh_bar .right_link {
    width: 90px;
    height: 45px;
    line-height: 45px;
    background-color: red;
    float: right;
    color: white;
    text-align: center;
}

#productshow .djh_content {
    width: 1200px;
    height: 179px;
    margin: 0px auto;
}

#productshow .djh_content .djh_content_div {
    width: 396px;
    height: 179px;
    float: left;
}

#productshow .djh_content .right_margin_6 {
    margin-right: 6px;
}

#productshow .djh_content .djh_content_div .djh_bottom {
    font-size: 14px;
    margin-top: 4px;
}

#productshow .djh_content .djh_content_div .djh_bottom .price {
    width: 86px;
    height: 19px;
    line-height: 19px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: bolder;
    float: left;
}

#productshow .djh_content .djh_content_div .djh_bottom .f_bag {
    float: right;
}

#productshow .djh_content .djh_content_div .djh_bottom .buy_num {
    float: right;
    text-align: right;
    margin-right: 20px;
    color: #ff6182;
}