#top {
    width: 100%;
    height: 42px;
    background-color: #f9f9f9;
    border: solid 1px #eeeeee;
}

#top .top_content {
    width: 1200px;
    height: 42px;
    margin: 0px auto;
}

#top .top_content .deliver {
    width: 160px;
    height: 42px;
    float: left;
    line-height: 42px;
}

#top .top_content .login {
    width: 200px;
    height: 42px;
    float: left;
    line-height: 42px;
}

#top .top_content .usercenter {
    width: 200px;
    height: 42px;
    float: right;
    line-height: 42px;
}

#search {
    width: 100%;
    height: 96px;
}

#search .search_content {
    width: 1200px;
    height: 96px;
    margin: 0px auto;
}

#search .search_content .logo {
    width: 210px;
    height: 96px;
    float: left;
}

#search .search_content .logo a img {
    /* margin-top: 27px; */
    vertical-align: middle;
}

#search .search_content .searchform {
    width: 750px;
    height: 96px;
    float: left;
    line-height: 96px;
}

#search .search_content .shoppingcar {
    width: 144px;
    height: 96px;
    float: right;
}

#search .search_content .shoppingcar a {
    width: 142px;
    height: 34px;
    display: block;
    border: 1px solid red;
    text-align: center;
    line-height: 34px;
    margin-top: 31px;
}

#searchtext {
    width: 592px;
    height: 38px;
    border: 0px;
    padding: 0px 10px;
    outline: none;
    background: url(../images/searchtext_bg.png) no-repeat 0 center;
}

#searchbtn {
    width: 122px;
    height: 38px;
    border: 0;
    padding: 0;
    background-color: red;
    color: white;
    outline: none;
}

/* 导航栏部分样式设置 */
#nav {
    width: 100%;
    height: 42px;
    background-color: black;
}

#nav .nav_content {
    width: 1200px;
    height: 42px;
    margin: 0px auto;
    position: relative;
}

#nav .nav_content .allclass {
    width: 210px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 15px;
    float: left;
}

#nav .nav_content .nav_items {
    width: 960px;
    height: 42px;
    line-height: 42px;
    float: left;
    padding-left: 30px;
}

#nav .nav_content .nav_items li {
    float: left;
    padding-right: 39px;
}

#nav .nav_content .nav_items li a {
    color: white;
    font-weight: bold;
}

#nav .nav_content .allclass_content {
    width: 210px;
    height: 500px;
    position: absolute;
    top: 42px;
    left: 0px;
    background: white;
    filter: alpha(Opacity=96);
	-moz-opacity: 0.96;
	opacity: 0.96;
}

#nav .nav_content .allclass_content ul {
    width: 180px;
    margin-left: 10px;
}

#nav .nav_content .allclass_content li {
    width: 180px;
    height: 40px;
    padding-top: 30px;
}

#nav .nav_content .allclass_content li a {
    display: block;
    margin-top: 10px;
}

#nav .nav_content .allclass_content li a em {
    float: right;
}

#carousel {
    width: 100%;
    height: 500px;
    background: url('../images/carouselimg.png') no-repeat center center;
}